Code/LabLoader-1.2/schema/LabLoader/LabLoader.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://labviewer.cagrid.nci.nih.gov/LabLoader" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns0="http://labviewer.cagrid.nci.nih.gov/LabLoader/types" xmlns:ns1="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" name="LabLoader" targetNamespace="http://labviewer.cagrid.nci.nih.gov/LabLoader">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://labviewer.cagrid.nci.nih.gov/LabLoader" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://labviewer.cagrid.nci.nih.gov/LabLoader/types" schemaLocation="./LabLoaderTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/security.xsd" />
      <element name="LoadLabRequest">
        <complexType>
          <sequence>
            <element name="string" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="LoadLabResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RollbackRequest">
        <complexType>
          <sequence>
            <element name="string" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RollbackResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="LabLoaderResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns2:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="LoadLabRequest">
    <part name="parameters" element="tns:LoadLabRequest" />
  </message>
  <message name="LoadLabResponse">
    <part name="parameters" element="tns:LoadLabResponse" />
  </message>
  <message name="RollbackRequest">
    <part name="parameters" element="tns:RollbackRequest" />
  </message>
  <message name="RollbackResponse">
    <part name="parameters" element="tns:RollbackResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="LabLoaderPortType" wsrp:ResourceProperties="tns:LabLoaderResourceProperties">
    <operation name="loadLab">
      <input message="tns:LoadLabRequest" wsa:Action="http://labviewer.cagrid.nci.nih.gov/LabLoader/LoadLabRequest" />
      <output message="tns:LoadLabResponse" wsa:Action="http://labviewer.cagrid.nci.nih.gov/LabLoader/LoadLabResponse" />
    </operation>
    <operation name="rollback">
      <input message="tns:RollbackRequest" wsa:Action="http://labviewer.cagrid.nci.nih.gov/LabLoader/RollbackRequest" />
      <output message="tns:RollbackResponse" wsa:Action="http://labviewer.cagrid.nci.nih.gov/LabLoader/RollbackResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

