LabViewer-2.0/StudyConsumerService-1.3/schema/StudyConsumer/StudyConsumer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns1="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/types" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns0="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain" name="StudyConsumer" targetNamespace="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/types" schemaLocation="./StudyConsumerTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain" schemaLocation="./ccts-domain.xsd" />
      <element name="CreateStudyRequest">
        <complexType>
          <sequence>
            <element name="study">
              <complexType>
                <sequence>
                  <element ref="ns0:study" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreateStudyResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CommitRequest">
        <complexType>
          <sequence>
            <element name="study">
              <complexType>
                <sequence>
                  <element ref="ns0:study" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CommitResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RollbackRequest">
        <complexType>
          <sequence>
            <element name="study">
              <complexType>
                <sequence>
                  <element ref="ns0:study" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RollbackResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="StudyConsumerResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="CreateStudyRequest">
    <part name="parameters" element="tns:CreateStudyRequest" />
  </message>
  <message name="CreateStudyResponse">
    <part name="parameters" element="tns:CreateStudyResponse" />
  </message>
  <message name="CommitRequest">
    <part name="parameters" element="tns:CommitRequest" />
  </message>
  <message name="CommitResponse">
    <part name="parameters" element="tns:CommitResponse" />
  </message>
  <message name="RollbackRequest">
    <part name="parameters" element="tns:RollbackRequest" />
  </message>
  <message name="RollbackResponse">
    <part name="parameters" element="tns:RollbackResponse" />
  </message>
  <message name="InvalidStudyExceptionFaultMessage">
    <part name="fault" element="ns1:InvalidStudyException" />
  </message>
  <message name="StudyCreationExceptionFaultMessage">
    <part name="fault" element="ns1:StudyCreationException" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="StudyConsumerPortType" wsrp:ResourceProperties="tns:StudyConsumerResourceProperties">
    <operation name="createStudy">
      <input message="tns:CreateStudyRequest" wsa:Action="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/CreateStudyRequest" />
      <output message="tns:CreateStudyResponse" wsa:Action="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/CreateStudyResponse" />
      <fault name="InvalidStudyException" message="tns:InvalidStudyExceptionFaultMessage" wsa:Action="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/InvalidStudyExceptionFaultMessage" />
      <fault name="StudyCreationException" message="tns:StudyCreationExceptionFaultMessage" wsa:Action="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/StudyCreationExceptionFaultMessage" />
    </operation>
    <operation name="commit">
      <input message="tns:CommitRequest" wsa:Action="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/CommitRequest" />
      <output message="tns:CommitResponse" wsa:Action="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/CommitResponse" />
      <fault name="InvalidStudyException" message="tns:InvalidStudyExceptionFaultMessage" wsa:Action="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/InvalidStudyExceptionFaultMessage" />
    </operation>
    <operation name="rollback">
      <input message="tns:RollbackRequest" wsa:Action="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/RollbackRequest" />
      <output message="tns:RollbackResponse" wsa:Action="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/RollbackResponse" />
      <fault name="InvalidStudyException" message="tns:InvalidStudyExceptionFaultMessage" wsa:Action="http://studyconsumer.grid.ccts.nci.nih.gov/StudyConsumer/InvalidStudyExceptionFaultMessage" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
  </portType>
</definitions>

