gridservice/coppa_grid_service/schema/CoppaPersonService/CoppaPersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns0="http://isodatatypes.coppa.nci.nih.gov" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns2="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/types" xmlns:ns1="http://coppa.nci.nih.gov" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" name="CoppaPersonService" targetNamespace="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://isodatatypes.coppa.nci.nih.gov" schemaLocation="./coppa_st_iso_types.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/types" schemaLocation="./CoppaPersonServiceTypes.xsd" />
      <import namespace="http://coppa.nci.nih.gov" schemaLocation="./coppa_person.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <element name="SearchRequest">
        <complexType>
          <sequence>
            <element name="person">
              <complexType>
                <sequence>
                  <element ref="ns1:Person" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SearchResponse">
        <complexType>
          <sequence>
            <element ref="ns1:Person" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPersonRequest">
        <complexType>
          <sequence>
            <element name="ii">
              <complexType>
                <sequence>
                  <element ref="ns0:Ii" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetPersonResponse">
        <complexType>
          <sequence>
            <element ref="ns1:Person" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePersonRequest">
        <complexType>
          <sequence>
            <element name="person">
              <complexType>
                <sequence>
                  <element ref="ns1:Person" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreatePersonResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Ii" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePersonRequest">
        <complexType>
          <sequence>
            <element name="person">
              <complexType>
                <sequence>
                  <element ref="ns1:Person" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePersonResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="UpdatePersonStatusRequest">
        <complexType>
          <sequence>
            <element name="ii">
              <complexType>
                <sequence>
                  <element ref="ns0:Ii" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="cd">
              <complexType>
                <sequence>
                  <element ref="ns0:Cd" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePersonStatusResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ValidateRequest">
        <complexType>
          <sequence>
            <element name="person">
              <complexType>
                <sequence>
                  <element ref="ns1:Person" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="ValidateResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Map" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CoppaPersonServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns4:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="SearchRequest">
    <part name="parameters" element="tns:SearchRequest" />
  </message>
  <message name="SearchResponse">
    <part name="parameters" element="tns:SearchResponse" />
  </message>
  <message name="GetPersonRequest">
    <part name="parameters" element="tns:GetPersonRequest" />
  </message>
  <message name="GetPersonResponse">
    <part name="parameters" element="tns:GetPersonResponse" />
  </message>
  <message name="CreatePersonRequest">
    <part name="parameters" element="tns:CreatePersonRequest" />
  </message>
  <message name="CreatePersonResponse">
    <part name="parameters" element="tns:CreatePersonResponse" />
  </message>
  <message name="UpdatePersonRequest">
    <part name="parameters" element="tns:UpdatePersonRequest" />
  </message>
  <message name="UpdatePersonResponse">
    <part name="parameters" element="tns:UpdatePersonResponse" />
  </message>
  <message name="UpdatePersonStatusRequest">
    <part name="parameters" element="tns:UpdatePersonStatusRequest" />
  </message>
  <message name="UpdatePersonStatusResponse">
    <part name="parameters" element="tns:UpdatePersonStatusResponse" />
  </message>
  <message name="ValidateRequest">
    <part name="parameters" element="tns:ValidateRequest" />
  </message>
  <message name="ValidateResponse">
    <part name="parameters" element="tns:ValidateResponse" />
  </message>
  <message name="CoppaPersonServiceFaultFaultMessage">
    <part name="fault" element="ns2:CoppaPersonServiceFault" />
  </message>
  <message name="NullifiedEntityFaultFaultMessage">
    <part name="fault" element="ns2:NullifiedEntityFault" />
  </message>
  <message name="EntityValidationFaultFaultMessage">
    <part name="fault" element="ns2:EntityValidationFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="CoppaPersonServicePortType" wsrp:ResourceProperties="tns:CoppaPersonServiceResourceProperties">
    <operation name="search">
      <input message="tns:SearchRequest" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/SearchRequest" />
      <output message="tns:SearchResponse" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/SearchResponse" />
      <fault name="CoppaPersonServiceFault" message="tns:CoppaPersonServiceFaultFaultMessage" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/CoppaPersonServiceFaultFaultMessage" />
    </operation>
    <operation name="getPerson">
      <input message="tns:GetPersonRequest" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/GetPersonRequest" />
      <output message="tns:GetPersonResponse" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/GetPersonResponse" />
      <fault name="CoppaPersonServiceFault" message="tns:CoppaPersonServiceFaultFaultMessage" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/CoppaPersonServiceFaultFaultMessage" />
      <fault name="NullifiedEntityFault" message="tns:NullifiedEntityFaultFaultMessage" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/NullifiedEntityFaultFaultMessage" />
    </operation>
    <operation name="createPerson">
      <input message="tns:CreatePersonRequest" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/CreatePersonRequest" />
      <output message="tns:CreatePersonResponse" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/CreatePersonResponse" />
      <fault name="CoppaPersonServiceFault" message="tns:CoppaPersonServiceFaultFaultMessage" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/CoppaPersonServiceFaultFaultMessage" />
      <fault name="EntityValidationFault" message="tns:EntityValidationFaultFaultMessage" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/EntityValidationFaultFaultMessage" />
    </operation>
    <operation name="updatePerson">
      <input message="tns:UpdatePersonRequest" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/UpdatePersonRequest" />
      <output message="tns:UpdatePersonResponse" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/UpdatePersonResponse" />
      <fault name="CoppaPersonServiceFault" message="tns:CoppaPersonServiceFaultFaultMessage" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/CoppaPersonServiceFaultFaultMessage" />
      <fault name="EntityValidationFault" message="tns:EntityValidationFaultFaultMessage" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/EntityValidationFaultFaultMessage" />
    </operation>
    <operation name="updatePersonStatus">
      <input message="tns:UpdatePersonStatusRequest" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/UpdatePersonStatusRequest" />
      <output message="tns:UpdatePersonStatusResponse" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/UpdatePersonStatusResponse" />
      <fault name="EntityValidationFault" message="tns:EntityValidationFaultFaultMessage" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/EntityValidationFaultFaultMessage" />
    </operation>
    <operation name="validate">
      <input message="tns:ValidateRequest" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/ValidateRequest" />
      <output message="tns:ValidateResponse" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/ValidateResponse" />
      <fault name="CoppaPersonServiceFault" message="tns:CoppaPersonServiceFaultFaultMessage" wsa:Action="http://person.coppa.cagrid.nci.nih.gov/CoppaPersonService/CoppaPersonServiceFaultFaultMessage" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

