Code/gridservice/caXchangeInboundService/schema/CaXchangeRequestProcessor/CaXchangeResponseService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/Context" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns4="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/Context/types" xmlns:ns1="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/types" xmlns:ns0="http://caXchange.nci.nih.gov/messaging" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns5="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" name="CaXchangeResponseService" targetNamespace="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/Context">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="./../wsrf/lifetime/WS-ResourceLifetime.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/Context" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/Context/types" schemaLocation="./CaXchangeResponseServiceTypes.xsd" />
      <import namespace="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/types" schemaLocation="./CaXchangeRequestProcessorTypes.xsd" />
      <import namespace="http://caXchange.nci.nih.gov/messaging" schemaLocation="./caXchange.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./cagrid/types/caGridMetadata.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/security.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <element name="GetResponseRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetResponseResponse">
        <complexType>
          <sequence>
            <element ref="ns0:caXchangeResponseMessage" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CaXchangeResponseServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns5:CurrentTime" />
            <element ref="ns5:TerminationTime" />
            <element ref="ns0:caXchangeResponseMessage" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetResponseRequest">
    <part name="parameters" element="tns:GetResponseRequest" />
  </message>
  <message name="GetResponseResponse">
    <part name="parameters" element="tns:GetResponseResponse" />
  </message>
  <message name="CaXchangeFaultFaultMessage">
    <part name="fault" element="ns4:CaXchangeFault" />
  </message>
  <message name="CaXchangeResponseNotReadyFaultFaultMessage">
    <part name="fault" element="ns1:CaXchangeResponseNotReadyFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="CaXchangeResponseServicePortType" wsrp:ResourceProperties="tns:CaXchangeResponseServiceResourceProperties">
    <operation name="getResponse">
      <input message="tns:GetResponseRequest" wsa:Action="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/Context/GetResponseRequest" />
      <output message="tns:GetResponseResponse" wsa:Action="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/Context/GetResponseResponse" />
      <fault name="CaXchangeFault" message="tns:CaXchangeFaultFaultMessage" wsa:Action="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/Context/CaXchangeFaultFaultMessage" />
      <fault name="CaXchangeResponseNotReadyFault" message="tns:CaXchangeResponseNotReadyFaultFaultMessage" wsa:Action="http://caxchange.cagrid.nci.nih.gov/CaXchangeRequestProcessor/Context/CaXchangeResponseNotReadyFaultFaultMessage" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy" />
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse" />
      <wsdl:fault message="wsrlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime" />
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse" />
      <wsdl:fault message="wsrlw:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
      <wsdl:fault message="wsrlw:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault" />
    </wsdl:operation>
  </portType>
</definitions>

