esb/deploy-src/ccts/src/payloadSchemas/gme_ccts.cabig_1.0_gov.nih.nci.cabig.ccts.ae.domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.ae.domain" targetNamespace="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.ae.domain" elementFormDefault="qualified">
  <xs:element name="aeNotification" type="AENotificationType" />
  <xs:complexType name="AENotificationType">
    <xs:sequence>
      <xs:element name="detectionDate" type="xs:date" />
      <xs:element name="description" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="registrationGridId" type="xs:string" />
  </xs:complexType>
</xs:schema>

