Code/RegistrationConsumerService/WebContent/wsrf/share/schema/RegistrationConsumer/RegistrationConsumer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ccts.nci.nih.gov/RegistrationConsumer" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns1="http://ccts.nci.nih.gov/RegistrationConsumer/types" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns0="gme://c3pr.cabig/2.0/edu.duke.cabig.c3pr.domain" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" name="RegistrationConsumer" targetNamespace="http://ccts.nci.nih.gov/RegistrationConsumer">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://ccts.nci.nih.gov/RegistrationConsumer" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://ccts.nci.nih.gov/RegistrationConsumer/types" schemaLocation="./RegistrationConsumerTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./cagrid/types/caGridMetadata.xsd" />
      <import namespace="gme://c3pr.cabig/2.0/edu.duke.cabig.c3pr.domain" schemaLocation="./c3pr-domain.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/security.xsd" />
      <element name="RegisterRequest">
        <complexType>
          <sequence>
            <element name="registration">
              <complexType>
                <sequence>
                  <element ref="ns0:registration" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RegisterResponse">
        <complexType>
          <sequence>
            <element ref="ns0:registration" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RegistrationConsumerResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns3:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="RegisterRequest">
    <part name="parameters" element="tns:RegisterRequest" />
  </message>
  <message name="RegisterResponse">
    <part name="parameters" element="tns:RegisterResponse" />
  </message>
  <message name="InvalidRegistrationExceptionFaultMessage">
    <part name="fault" element="ns1:InvalidRegistrationException" />
  </message>
  <message name="RegistrationConsumptionExceptionFaultMessage">
    <part name="fault" element="ns1:RegistrationConsumptionException" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="RegistrationConsumerPortType" wsrp:ResourceProperties="tns:RegistrationConsumerResourceProperties">
    <operation name="register">
      <input message="tns:RegisterRequest" wsa:Action="http://ccts.nci.nih.gov/RegistrationConsumer/RegisterRequest" />
      <output message="tns:RegisterResponse" wsa:Action="http://ccts.nci.nih.gov/RegistrationConsumer/RegisterResponse" />
      <fault name="InvalidRegistrationException" message="tns:InvalidRegistrationExceptionFaultMessage" wsa:Action="http://ccts.nci.nih.gov/RegistrationConsumer/InvalidRegistrationExceptionFaultMessage" />
      <fault name="RegistrationConsumptionException" message="tns:RegistrationConsumptionExceptionFaultMessage" wsa:Action="http://ccts.nci.nih.gov/RegistrationConsumer/RegistrationConsumptionExceptionFaultMessage" />
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="GetMultipleResourceProperties">
      <input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

