CTOMDataPersistenceWS/src/CTOMDataPersistenceServiceSoapPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ctom="http://ctom.nci.nih.gov/ws/datapersistence" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ws="http://ctom.nci.nih.gov/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ctom.nci.nih.gov/ws">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ctom.nci.nih.gov/ws/datapersistence" version=".1">
			<xs:element name="CTOMPersistDataRequest" type="ctom:PersistDataRequest"/>
			<xs:complexType name="PersistDataRequest">
				<xs:sequence>
					<xs:element name="Credentials" nillable="false" type="ctom:Credentials"/>
					<xs:element name="Message" nillable="false" type="ctom:Message"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element name="FormatDefinition" minOccurs="0" type="xs:anyURI"/>
					<xs:element name="Data" nillable="false" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Acknowledgement" type="ctom:Acknowledgement"/>
			<xs:complexType name="Acknowledgement">
				<xs:sequence>
					<xs:element name="Status" type="ctom:AcknowledgementStatuses"/>
					<xs:element name="Description" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Credentials">
				<xs:sequence>
					<xs:element name="UserName" nillable="false" type="xs:string"/>
					<xs:element name="Password" nillable="false" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="AcknowledgementStatuses">
				<xs:restriction base="xs:string">
					<xs:enumeration value="MessagePersisted"/>
					<xs:enumeration value="ApplicationError"/>
					<xs:enumeration value="AuthorizationFailure"/>
					<xs:enumeration value="AuthenticationFailure"/>
					<xs:enumeration value="UnSupportedMessageFormatError"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="ErrorDetails" type="ctom:ErrorDetails"/>
			<xs:complexType name="ErrorDetails">
				<xs:sequence>
					<xs:element name="ErrorDescription" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ErrorMessage">
		<wsdl:part name="ErrorMessage" element="ctom:ErrorDetails"/>
	</wsdl:message>
	<wsdl:message name="CTOMPersistDataRequestMessage">
		<wsdl:part name="CTOMPersistDataRequest" type="ctom:PersistDataRequest"/>
	</wsdl:message>
	<wsdl:message name="AcknowledgementResponseMessage">
		<wsdl:part name="AcknowledgementResponse" type="ctom:Acknowledgement"/>
	</wsdl:message>
	<wsdl:portType name="CTOMDataPersistenceService">
		<wsdl:operation name="persistData">
			<wsdl:input message="ws:CTOMPersistDataRequestMessage"/>
			<wsdl:output message="ws:AcknowledgementResponseMessage"/>
			<wsdl:fault name="ErrorMessage" message="ws:ErrorMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CTOMDataPersistenceBinding" type="ws:CTOMDataPersistenceService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="persistData">
			<soap:operation soapAction="http://ctom.nci.nih.gov/ws/persistData"/>
			<wsdl:input>
				<soap:body use="literal" namespace="http://ctom.nci.nih.gov/ws/datapersistence"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://ctom.nci.nih.gov/ws/datapersistence"/>
			</wsdl:output>
			<wsdl:fault name="ErrorMessage">
				<soap:fault name="ErrorMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CTOMDataPersistenceService">
		<wsdl:port name="CTOMDataPersistenceServiceSoapPort" binding="ws:CTOMDataPersistenceBinding">
			<soap:address location="http://localhost:8080/CTOMWebService/services/CTOMDataPersistenceServiceSoapPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
