gridservice/caXchangeInboundService/test/resources/websso-properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Kunal Modi (DHHS/NIH/NCI) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="authentication-service">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="service-name"/>
				<xs:element ref="service-url"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="authentication-service-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="authentication-service" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="delegated-application">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="application-name"/>
				<xs:element ref="host-identity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="delegated-application-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="delegated-application" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dorian-information">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="service-url"/>
				<xs:element ref="proxy-lifetime-hours"/>
				<xs:element ref="proxy-lifetime-minutes"/>
				<xs:element ref="proxy-lifetime-seconds"/>
				<xs:element ref="proxy-delegation-path-length"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="delegation-service-information">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="service-url"/>
				<xs:element ref="delegation-lifetime-hours"/>
				<xs:element ref="delegation-lifetime-minutes"/>
				<xs:element ref="delegation-lifetime-seconds"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="trust-store-path" type="xs:string"/>
	<xs:element name="websso-server-host-identity" type="xs:string"/>
	<xs:element name="application-name" type="xs:string"/>
	<xs:element name="host-identity" type="xs:string"/>
	<xs:element name="service-name" type="xs:string"/>
	<xs:element name="service-url" type="xs:anyURI"/>
	<xs:element name="proxy-lifetime-hours" type="xs:integer"/>
	<xs:element name="proxy-lifetime-minutes" type="xs:integer"/>
	<xs:element name="proxy-lifetime-seconds" type="xs:integer"/>
	<xs:element name="proxy-delegation-path-length" type="xs:integer"/>
	<xs:element name="delegation-lifetime-hours" type="xs:integer"/>
	<xs:element name="delegation-lifetime-minutes" type="xs:integer"/>
	<xs:element name="delegation-lifetime-seconds" type="xs:integer"/>
	<xs:element name="websso-properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="trust-store-path"/>
				<xs:element ref="websso-server-host-identity"/>
				<xs:element ref="dorian-information"/>
				<xs:element ref="delegation-service-information"/>
				<xs:element ref="authentication-service-list"/>
				<xs:element ref="delegated-application-list"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
